Source: libhttp-cookiejar-perl
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: gregor herrmann <gregoa@debian.org>
Section: perl
Testsuite: autopkgtest-pkg-perl
Priority: optional
Build-Depends: debhelper-compat (= 13)
Build-Depends-Indep: libhttp-date-perl <!nocheck>,
                     libtest-deep-perl <!nocheck>,
                     libtest-requires-perl <!nocheck>,
                     libtest-simple-perl <!nocheck>,
                     liburi-perl <!nocheck>,
                     libwww-perl <!nocheck>,
                     perl
Standards-Version: 4.6.0
Vcs-Browser: https://salsa.debian.org/perl-team/modules/packages/libhttp-cookiejar-perl
Vcs-Git: https://salsa.debian.org/perl-team/modules/packages/libhttp-cookiejar-perl.git
Homepage: https://metacpan.org/release/HTTP-CookieJar
Rules-Requires-Root: no

Package: libhttp-cookiejar-perl
Architecture: all
Depends: ${misc:Depends},
         ${perl:Depends},
         libhttp-date-perl
Description: minimalist HTTP user agent cookie jar
 HTTP::CookieJar implements a minimalist HTTP user agent cookie jar in
 conformance with RFC 6265|http://tools.ietf.org/html/rfc6265.
 .
 Unlike the commonly used HTTP::Cookies module, this module does not require
 use of HTTP::Request and HTTP::Response objects. An LWP-compatible adapter is
 available as HTTP::CookieJar::LWP.
